<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qs.dao.qs.multimediaMapper" >
  <resultMap id="BaseResultMap" type="com.qs.modelos.qs.multimedia" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nombre" property="nombre" jdbcType="CHAR" />
    <result column="ruta" property="ruta" jdbcType="CHAR" />
    <result column="tipo" property="tipo" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, nombre, ruta, tipo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qs.modelos.qs.multimediaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "qs"."multimedia"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from "qs"."multimedia"
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from "qs"."multimedia"
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qs.modelos.qs.multimediaExample" >
    delete from "qs"."multimedia"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qs.modelos.qs.multimedia" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      select nextval ('qs.multimedia_id_seq');
    </selectKey>
    insert into "qs"."multimedia" (id, nombre, ruta, tipo
      )
    values (#{id,jdbcType=INTEGER}, #{nombre,jdbcType=CHAR}, #{ruta,jdbcType=CHAR}, #{tipo,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qs.modelos.qs.multimedia" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      select nextval ('qs.multimedia_id_seq');
    </selectKey>
    insert into "qs"."multimedia"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="nombre != null" >
        nombre,
      </if>
      <if test="ruta != null" >
        ruta,
      </if>
      <if test="tipo != null" >
        tipo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="nombre != null" >
        #{nombre,jdbcType=CHAR},
      </if>
      <if test="ruta != null" >
        #{ruta,jdbcType=CHAR},
      </if>
      <if test="tipo != null" >
        #{tipo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qs.modelos.qs.multimediaExample" resultType="java.lang.Integer" >
    select count(*) from "qs"."multimedia"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "qs"."multimedia"
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nombre != null" >
        nombre = #{record.nombre,jdbcType=CHAR},
      </if>
      <if test="record.ruta != null" >
        ruta = #{record.ruta,jdbcType=CHAR},
      </if>
      <if test="record.tipo != null" >
        tipo = #{record.tipo,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "qs"."multimedia"
    set id = #{record.id,jdbcType=INTEGER},
      nombre = #{record.nombre,jdbcType=CHAR},
      ruta = #{record.ruta,jdbcType=CHAR},
      tipo = #{record.tipo,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qs.modelos.qs.multimedia" >
    update "qs"."multimedia"
    <set >
      <if test="nombre != null" >
        nombre = #{nombre,jdbcType=CHAR},
      </if>
      <if test="ruta != null" >
        ruta = #{ruta,jdbcType=CHAR},
      </if>
      <if test="tipo != null" >
        tipo = #{tipo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qs.modelos.qs.multimedia" >
    update "qs"."multimedia"
    set nombre = #{nombre,jdbcType=CHAR},
      ruta = #{ruta,jdbcType=CHAR},
      tipo = #{tipo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>