<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

	<classPathEntry location="C:\Users\jarbo\Documents\postgresql-42.0.0.jar" />

	<!-- Generaremos para MyBatis versión 3 -->
	<context id="postgres" targetRuntime="MyBatis3">

		<!-- No generamos los comentarios -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="org.postgresql.Driver"
			connectionURL="jdbc:postgresql://localhost:5432/postgres" userId="postgres"
			password="root"></jdbcConnection>

		<javaModelGenerator targetPackage="com.qs.modelos"
			targetProject="qs">
			<property name="enableSubPackages" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.qs.dao"
			targetProject="qs">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator targetPackage="com.qs.dao"
			type="XMLMAPPER" targetProject="qs">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		
		<!-- Mapeo de Tablas -->
 		<!--
		<table schema="qs" tableName="usuario" delimitIdentifiers="true" domainObjectName="usuario">
			<property name="useActualColumnNames" value="true"/>
			<generatedKey column="id" sqlStatement="select nextval ('qs.usuario_id_seq');"/>
		</table>

		 <table schema="qs" tableName="membresia" delimitIdentifiers="true" domainObjectName="membresia">
			<property name="useActualColumnNames" value="true"/>
		</table>

		 <table schema="qs" tableName="contenido" delimitIdentifiers="true" domainObjectName="contenido">
			<property name="useActualColumnNames" value="true"/>
			<generatedKey column="id" sqlStatement="select nextval ('qs.contenido_id_seq');"/>
		</table>
		
		<table schema="qs" tableName="membresia_contenido" delimitIdentifiers="true" domainObjectName="membresia_contenido">
			<property name="useActualColumnNames" value="true"/>
			<generatedKey column="id" sqlStatement="select nextval ('qs.membresia_contenido_id_seq');"/>
		</table>
		
		<table schema="qs" tableName="multimedia" delimitIdentifiers="true" domainObjectName="multimedia">
			<property name="useActualColumnNames" value="true"/>
			<generatedKey column="id" sqlStatement="select nextval ('qs.multimedia_id_seq');"/>
		</table>
		
		<table schema="qs" tableName="contenido_publicacion" delimitIdentifiers="true" domainObjectName="contenido_publicacion">
			<property name="useActualColumnNames" value="true"/>
		</table>
		
		<table schema="qs" tableName="usuario_membresia" delimitIdentifiers="true" domainObjectName="usuario_membresia">
			<property name="useActualColumnNames" value="true"/>
			<generatedKey column="id" sqlStatement="select nextval ('qs.usuario_membresia_id_seq');"/>
		</table>
 		-->
	</context>
</generatorConfiguration>