/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.nav-index {
	height: 86px;
}

#nav-ul li {
	padding: 11px 5px;
	margin: 0px 5px;
}

#nav-ul .nav-li:hover {
	background-color: #555;
}

#nav-ul .nav-li a:hover {
	background-color: transparent;
}

#btnLogin a {
	border: 1px solid #ccc;
	border-radius: 15px;
	display: initial;
	padding: 10px 15px;
}

#btnLogin a:hover {
	background-color: #555;
}

.button-collapse {
	color: #26a69a;
}

.modal {
	max-height: 100%;
}

.modal.modal-fixed-footer {
    height: 85% !important;
}

/*Contacto*/
#contact_us {
	background-color: rgb(230, 233, 239);
}

/**/
.footer-qs-color {
	background-color: rgb(2, 0, 32);
}

.p-t-10 {
	padding-top: 10px !important;
}

.p-t-20 {
	padding-top: 20px !important;
}

.p-t-30 {
	padding-top: 30px !important;
}

.p-t-40 {
	padding-top: 40px !important;
}

.p-b-20 {
	padding-bottom: 20px !important;
}

.p-b-40 {
	padding-bottom: 40px !important;
}

.m-b-0{
	margin-bottom: 0px !important;
}

.sub:hover {
	text-decoration: underline;
}

#eBasico, #eBasico-T, #eAvanzado, #eAvanzado-T, #eFuturos{
	display: none;
}

/*#eGratuito {
	margin-bottom: 148px;
}

#eBasico {
	margin-bottom: 40px;
}*/

#p700 {
	width: 700px;
}

#p520 {
	width: 520px;
}

#p350 {
	width: 350px;
}

#p35 {
	width: 27px;
}

/*COACHING*/
#coaching-section {
	display: none;
	background-color: rgb(230, 233, 239);
}
/**/
#p100 {
	width: 100px;
}

#qs-black {
	width: 126px;
}

#testimonioQs {
	font-style: italic;
}

.videoTestimonio{
	width: 430px;
	height: 315px;
}

#qs-white {
	width: 50px;
}

#qs-white-nav {
	height: 86px;
	width: 161px;
}

#qs-footer {
	margin-left: initial;
	margin-right: inherit;
}

#imgIndex {
	border: white 2px solid;
	width: 160px;
	height: 120px;
}

.padding-testimonio {
	padding-top: 12px;
}

.background-testimonio {
	border-radius: 40px;
	margin-top: 50px;
	background-color: rgba(242, 242, 242, 0.89);
}

.img-120 {
	width: 120px;
}

#pading-cards {
	margin-bottom: 60px;
}

#img-calidad {
	width: 162px;
	float: left;
	margin-left: 155px;
}

#margin-top-cuadro {
	margin-top: 32px;
}

.cajon {
	border-right: 1px dotted gray;
	background: linear-gradient(to bottom, rgba(206, 217, 240, 1) 0%,
		rgba(26, 28, 33, 1) 100%);
}

.sombra {
	text-shadow: 2px 2px 2px #000;
}

nav ul a, nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

.col-center {
	margin: 30px auto 0px auto !important;
	float: initial !important;
}

.contactBackground {
	background-color: rgba(255, 255, 255, 0.7);
}

.section-one-landing {
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.background-landing {
	min-height: 80vh !important;
}

/*<--- Paquetes*/
.border-bottom-paquete {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.background-membresia {
	background-color: rgba(242, 242, 242, 0.89);
	padding-top: 56px;
}

.background-table-tr {
	background-color: white;
}

.back-icon {
	font-size: 2.28rem;
}

.cellContent {
	display: inline-block;
	width: 120px;
	height: 80px;
	line-height: 67px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	margin: 0px;
	border: 2px;
}

.colorTitulo {
	background-color: rgba(242, 242, 242, 0.89);
}

.cellContentModal {
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 67px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	margin: 0px;
	border: 2px;
}

.selborder {
	margin: 4px;
	background-color: #1976D2;
}

#opt1 {
	border: 2px solid #1976D2;
}

#avanzado {
	opacity: 0.6;
}

#basico {
	opacity: 0.6;
}

.op1 {
	color: #1976D2;
}

.op3, .op2 {
	opacity: 0.6;
}

.p-h-32 {
	padding: 0 32px !important;
}

.side-nav .collapsible-body li a {
	font-size: 12px;
}

.dashboard header, .dashboard .container, .dashboard footer {
	padding-left: 310px;
}

.dashboard nav {
	display: none;
}

.dashboard {
	overflow-x: hidden;
}

.modalOlvidar {
	max-height: 47%;
}

.modal-scroll {
	height: 75% !important;
	max-height: 75% !important;
}

.modal-scroll-y {
	overflow-y: hidden !important;
}

#icon-Account {
	font-size: 150px !important;
}
/*Paquetes----->*/

/* Dashboard*/
.container-dasboard {
	width: auto;
	max-width: initial;
}
/* Fin - Dashboard*/
@media only screen and (max-width : 992px) {
	.dashboard header, .dashboard .container, .dashboard footer {
		padding-left: 10px;
	}
	.dashboard nav {
		display: block;
	}
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
	.footerLabel {
		text-align: center !important;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
	.row .col.s2 {
		width: 33.3333333333%;
	}
	.row .col.s6 {
		width: 100%;
	}
	.cellContent {
		width: 90px;
	}
	.modal {
		top: 5% !important;
	}
	.videoTestimonio{
		width: 300px;
		height: 200px;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}